<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wedul.wedulpos.user.dao.UserMapper">

	<!-- 사용자 조회 -->
	<select id="selectUser" parameterType="UserDto" resultType="UserDto">
		SELECT
		u.nickname,
		u.email,
		u.password AS password,
		u.sns_id AS snsId,
		u.isadmin AS isAdmin
		FROM
		wedulpos.user u
		<where>
			<if test="email != null and email != ''">
				u.email = #{email}
			</if>
			<if test="nickname != null and nickname != ''">
			AND
				u.nickname = #{nickname}
			</if>
			<if test="snsId != null and snsId != ''">
			AND
				u.sns_id = #{snsId}
			</if>
		</where>
	</select>
	
	<!-- 최고관리자 조회 -->
	<select id="selectSuperUser" parameterType="UserDto" resultType="UserDto">
	SELECT
		*
	FROM
		wedulpos.user
	<where>
		isadmin = 1
	</where>
	</select>
	
	<!-- 사용자 입력 -->
	<insert id="insertUser" parameterType="UserDto">
	INSERT INTO
		wedulpos.user
	(
		nickname,
		password,
		email,
		isadmin,
		sns_id
	)
	VALUES
	(
		#{nickname},
		#{ecPassword},
		#{email},
		#{isAdmin},
		#{snsId}
	)
	ON DUPLICATE KEY UPDATE
	password = #{ecPassword}, isadmin = #{isAdmin}
	</insert>
	
	<!-- 임시 비밀번호 변경 -->
	<update id="updateTempPw" parameterType="UserDto">
	UPDATE
		wedulpos.user
	SET
		password = #{ecPassword},
		update_date = CURRENT_TIMESTAMP
	<where>
		email = #{email}	
	</where>
	</update>
	
</mapper>